.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15rem 1rem 18rem 1rem;
  background-color: var(--foreground);
  color: var(--background);
}

.content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.content h1 {
  font-size: 48px;
  text-align: center;
}

.content h1 span {
  color: var(--accent);
}

.content p {
  color: var(--secondary);
  text-align: center;
}

.badge {
  border-bottom: 1px solid var(--border);
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  font-style: italic;
  font-size: 14px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.badge::before {
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: var(--accent);
  animation: blink 3s infinite;
}

.content button {
  background-color: var(--secondary);
  color: var(--foreground);
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 500;
  border: none;
  padding: 8px 24px;
  border-radius: 20px;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.content button:hover {
  background-color: var(--accent);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section {
    padding: 12rem 1rem 15rem 1rem;
  }
  .content h1 {
    font-size: 35px;
  }

  .badge {
    font-size: 13px;
  }

  .content button {
    font-size: 13px;
    padding: 7px 21px;
    margin-top: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding: 8rem 1rem 10rem 1rem;
  }

  .content h1 {
    font-size: 25px;
  }

  .badge {
    font-size: 12px;
  }

  .content button {
    font-size: 12px;
    padding: 5px 15px;
    margin-top: 0.5rem;
  }
}
