:root {
  --background: #ffffff;
  --foreground: #111111;
  --secondary: #f8f8f8;
  --accent: #00ff9c;
  --border: #4f4f4f;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid var(--border);
  padding: 1.5rem 1rem;
  background-color: var(--foreground);
  color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

p,
li {
  font-size: 16px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }
  p,
  li {
    font-size: 14px;
  }
}
